In [1]:
label_file = "./BMI data - Sheet1.csv"

In [2]:
import pandas as pd

In [10]:
image_df = pd.DataFrame(columns=['UID','path'])

In [11]:
profile_df = pd.read_csv(label_file)

In [14]:
profile_df

    id       UID              name  height  weight        BMI
0    1    akshay      akshay kumar    1.78      80  25.249337
1    2        ja      john abraham    1.82      94  28.378215
2    3     varun      varun dhawan    1.68      78  27.636054
3    4     tiger      Tiger shroff    1.75      72  23.510204
4    5    salman       Salman khan    1.74      75  24.772097
5    6       srk     Shahrukh khan    1.73      75  25.059307
6    7  ayushman  ayushman khurana    1.68      72  25.510204
7    8     vikky     vicky kaushal    1.83      80  23.888441
8    9  rajkumar      rajkumar rao    1.70      72  24.913495
9   10     nawaz        nawazuddin    1.68      60  21.258503
10  11     manoj    manoj bajpayee    1.75      68  22.204082
11  12    anurag    Anurag kashyap    1.78      84  26.511804
12  13    pankaj    Pankaj Tripati    1.75      70  22.857143
13  14    kirron       kirron kher    1.65      68  24.977043
14  15     richa     richa chadhha    1.65      57  20.936639
15  16     kalki     kalki koechin    1.70      53  18.339100
16  17   radhika      Radhika apte    1.60      55  21.484375
17  18    anupam       anupam kher    1.68      70  24.801587
18  19   supriya    supriya pathak    1.63      72  27.099251
19  20     ratna      ratna pathak    1.63      55  20.700817
20  21      amir         amir khan    1.63      70  26.346494
21  22    arshad      arshad warsi    1.68      70  24.801587

In [12]:
data_folder = "height_weight"

In [5]:
from glob import glob
all_files = glob(data_folder+"/*")

all_jpgs = sorted([img for img in all_files if ".jpg" in img or ".jpeg" in img or "JPG" in img])

print("Total {} photos ".format(len(all_jpgs)))

Total 226 photos

In [6]:
from pathlib import Path as p

In [7]:
def get_index_of_digit(string):
    import re
    match = re.search("\d", p(string).stem)
    return match.start(0)

In [8]:
id_path = [(p(images).stem[:(get_index_of_digit(p(images).stem))],images) for  images in all_jpgs ]

In [15]:
data_df = image_df.merge(profile_df)

In [17]:
data_df

Empty DataFrame
Columns: [path, id, UID, name, height, weight, BMI]
Index: []

In [18]:
import face_recognition
import numpy as np

In [19]:
def get_face_encoding(image_path):
    print(image_path)
    picture_of_me = face_recognition.load_image_file(image_path)
    my_face_encoding = face_recognition.face_encodings(picture_of_me)
    if not my_face_encoding:
        print("no face found !!!")
        return np.zeros(128).tolist()
    return my_face_encoding[0].tolist()

In [20]:
all_faces = []

In [21]:
for images in data_df.path:
    face_enc = get_face_encoding(images)
    all_faces.append(face_enc)

In [22]:
X = np.array(all_faces)

In [23]:
y_height = data_df.height.values ## all labels
y_weight = data_df.weight.values
y_BMI = data_df.BMI.values

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_height_train, y_height_test, y_weight_train, y_weight_test ,y_BMI_train, y_BMI_test = train_test_split(X, y_height,y_weight,y_BMI, random_state=1)

ValueError: With n_samples=0, test_size=0.25 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [25]:
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\lenovo\.conda\envs\sampleenv\lib\site-packages\sklearn\externals\__init__.py)

In [26]:
import cv2